/*Variables assignment*/


    $body-background-color: rgb(247, 194, 194);
    $form-background-color:rgb(224, 188, 134);
    $input-color: rgb(252, 228, 201);
    $headlines-color : rgb(0, 79, 116);

   
    
@mixin flex-container($axis, $wrap: nowrap) {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: $axis $wrap;
        -ms-flex-flow: $axis $wrap;
        flex-flow: $axis $wrap;
    }
    
fieldset > div {
        @include flex-container(column); 
          
    }
@mixin center ( $width, $maxwidth:960px) {
        width: $width;
        max-width: $maxwidth;
        margin:auto;
    }
        
body{
    background-color: $body-background-color;
    @include center(450px);
    
}
#content{
    background-color: $form-background-color; 
    
}


#contactform {
   
    background-color: $form-background-color;
    input, textarea {
        background-color: $input-color;
        flex:2;
    }
   
}

